.box {
    background: rgb(152, 173, 191);
    background: linear-gradient(90deg, rgba(152, 173, 191, 1) 0%, rgb(165, 187, 207) 100%);
    border-radius: 23px;
    padding: 10px;
    text-align: left;
    color: #262e34;
    font-weight: bold;
    margin-bottom: 10px;
}

.new-box {
    background-color: #1e242a;
    border-radius: 23px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px dashed #fff;
    /* خط بریده با رنگ سفید */
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.bh-sx {
    height: 50px;
}

.bh-s {
    height: 100px;
}

.bh-m {
    height: 150px;
}

.bh-l {
    height: 500px;
}

.bh-full {
    min-height: calc(100vh - 150px);
}

.box-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image-container {
    margin-right: 10px;
    text-align: center;
}

.box-image {
    width: 265px;
    height: auto;
    border-radius: 17px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.box-title {
    font-size: 18px;
    font-weight: bold;
}

.box-text {
    font-size: 14px;
    color: #555;
}

.submenu-container {
    display: none;
    position: fixed;
    max-height: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: #262e35;
    bottom: 60px;
    width: 100%;
    padding: 10px 0;
    z-index: 20;
    box-shadow: 0 -4px 6px rgb(0 0 0 / 30%);
}

.submenu-item.sub-active {
    color: #fff;
}

.submenu-container.active {
    color: #fff;

    display: flex;
    animation: slideUp 0.3s forwards;
}

.submenu-container.closing {
    animation: slideDown 0.3s forwards;
}

.footer-submenu {
    color: #4f575d;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.sub-active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #acc3d7;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

.submenu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(114, 114, 114);
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 9pt;
    transition: color 0.3s;
    cursor: pointer;
}

.submenu-item-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 9pt;
    transition: color 0.3s;
    cursor: pointer;
}


/* .submenu-item:hover {
    color: #ffee00;
}

.submenu-item.active {
    color: #ffee00;
} */

/* .submenu-item.active img {
    filter: invert(87%) sepia(120%) saturate(7545%) hue-rotate(67deg) brightness(274%) contrast(105%);
} */

@media (max-width: 600px) {
    .footer-item {
        font-size: 8pt;
    }
}

.title-box {
    margin: 15px 20px 10px;
    color: #98adbf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.box-icon {
    width: 50px;
    /* Adjust image size */
    height: auto;
}

.text-container {
    display: flex;
    justify-content: center;
}

.box-text {
    font-size: 14px;
    text-align: center;
    color: #555;
}